<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generate database connector</title>
</head>
<body>
<h1>Skonfiguruj tabele</h1>
<h2>Table</h2>
<form th:action="@{/database-table/generate-db-table}" method="post">
    <label for="tableName">Table name:</label>
    <input type="text" id="tableName" name="tableName"/>
    <br/><label for="field1">Table field:</label><input type="text" id="field1" name="field1"/>
    <br/><label for="field1">Table field:</label><input type="text" id="field1" name="field2"/>
    <br/><label for="field1">Table field:</label><input type="text" id="field1" name="field3"/>
    <br/><input type="submit" name="generate" value="Wygeneruj" />
</form>
</body>
</html>